@model UserDTO

@{
	Layout = null;
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="Edit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxEdit(this);">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label asp-for="Name" class="control-label" ></label>
				<input asp-for="Name" class="form-control" value="@Model.Name"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Surname" class="control-label"></label>
				<input asp-for="Surname" class="form-control" />
				<span asp-validation-for="Surname" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PasswordConfirm" class="control-label"></label>
				<input asp-for="PasswordConfirm" class="form-control" />
				<span asp-validation-for="PasswordConfirm" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<input type="submit" value="Edit" class="m-md-auto col-md-9 btn btn-warning" />
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<input type="submit" value="Close" class="m-md-auto col-md-9 btn btn-danger" />
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
    @{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
