@model CityDTO

@{
	Layout = null;
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="Edit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxEditCity(this);">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" value="@Model.Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CountryName" class="control-label"></label>
				<input asp-for="CountryName" class="form-control" />
				<span asp-validation-for="CountryName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<input type="submit" value="Edit" class="m-md-auto col-md-9 btn btn-warning" />
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<input type="submit" value="Close" class="m-md-auto col-md-9 btn btn-danger" />
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
